<launch>
<node pkg="wifi_exploration" type="bearing" name="bearing" output="screen" launch-prefix="gdb -ex run --args">
<!-- <param name="namespace" type="string" value="robot"/> -->
<param name="map_topic" type="string" value="map"/>
<param name="robot_frame" type="string" value="base_link"/>
</node>
</launch>